.anime-card {
    position: relative;
    overflow: hidden;
  }

.column{
  width: 25%;
}

  
  .anime-info {
    position: absolute;
    bottom: -100%; 
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    text-align: center;
    transition: bottom 0.3s ease; 
  }
  
  .anime-card:hover .anime-info {
    bottom: 0; 
  }
  
